<!DOCTYPE html>
<html>
  <head>
    <title>market</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script type="text/javascript" src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script type="text/javascript" src="/js/market/app.js"></script>

  </head>
  <body>
    <div class="container">
      <label id="timestamp"></label>
      <table class="table" id="exchange">
        <thead>
          <tr>
            <th>DT</th>
            <th>PRD</th>
            <th>BP</th>
            <th>QTY</th>
            <th>IN</th>
            <th>TG1</th>
            <th>TG2</th>
            <th>TG3</th>
            <th>TG4</th>
            <th>CRR</th>
            <th>CRR(%)</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </body>
</html>
